<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BindLine</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>BindLine</h1>

        <form id="upload-form">
            <table class="table table-borderless align-middle mb-3">
                <tr>
                    <td><label for="e_score" class="form-label mb-0">E-Score File(s):</label></td>
                    <td>
                        <input class="form-control form-control-sm" type="file" id="e_score" name="e_score" multiple>
                    </td>
                    <td><label for="existing_escore" class="form-label mb-0">Or Existing:</label></td>
                    <td>
			<select id="existing_escore" multiple="multiple" style="width: 100%;" class="form-select form-select-sm" size="5"></select>
                    </td>
                    <td>
                        <!-- checkbox for searching binding sites -->
                        <div class="form-check form-check-inline">
                            <input class="form-check input" type="checkbox" id="search-binding-sites" name="search-binding-sites">
                            <label class="form-check label" for="search-binding-sites">Search Binding Sites</label>
                        </div>
                        <!-- checkbox for searching significant mutations -->
                        <div class="form-check form-check-inline">
                            <input class="form-check input" type="checkbox" id="search-significant-mutations" name="search-significant-mutations">
                            <label class="form-check label" for="search-significant-mutations">Search Significant Mutations</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="fasta" class="form-label mb-0">FASTA File:</label></td>
                    <td>
                        <input class="form-control form-control-sm" type="file" id="fasta" name="fasta">
                    </td>
                    <td><label for="existing_fasta" class="form-label mb-0">Or Existing:</label></td>
                    <td>
                        <select class="form-select form-select-sm" id="existing_fasta">
                            <option value="">-- Select Existing --</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" type="button" id="load-sequences">Load Sequences</button>
                    </td>
                </tr>
            </table>

            <div class="d-flex align-items-center mb-2">
                <label class="form-label mb-0 me-2">File Type:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="escore" name="file_type" value="escore" checked>
                    <label class="form-check-label" for="escore">E-Score</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="zscore" name="file_type" value="zscore">
                    <label class="form-check-label" for="zscore">Z-Score</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="iscore" name="file_type" value="iscore">
                    <label class="form-check-label" for="iscore">I-Score</label>
                </div>
                <button class="btn btn-success btn-sm ms-2" type="button" id="upload-and-plot">Upload & Plot</button>
                <button class="btn btn-success btn-sm ms-2" type="button" id="toggle-view">Toggle Highest Values</button>

                <div class="d-flex flex-column mb-3">
                    <div class="d-flex align-items-center mb-2">
                        <input type="checkbox" id="enable_score_threshold" class="form-check-input me-2">
                        <label for="enable_score_threshold" class="form-label me-2">EScore Threshold:</label>
                        <input type="range" min="-0.5" max="0.5" step="0.01" value="0.45" id="score_threshold" class="form-range flex-grow-1 me-2" disabled>
                        <input type="number" min="-0.5" max="0.5" step="0.01" value="0.45" id="score_threshold_input" class="form-control form-control-sm" style="width: 70px;" disabled>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" id="enable_ranks_threshold" class="form-check-input me-2">
                        <label for="enable_ranks_threshold" class="form-label me-2">Ranks Threshold:</label>
                        <input type="range" min=0 max=100 step=0.1 value="99" id="ranks_threshold" class="form-range flex-grow-1 me-2" disabled>
                        <input type="number" min=0 max=100 step=0.1 value="99" id="ranks_threshold_input" class="form-control form-control-sm" style="width: 70px;" disabled>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center mb-2">
                <button class="btn btn-secondary btn-sm me-2" type="button" id="add-sequence-row">Add Sequence</button>
            </div>

            <div class="form-group mt-2">
                <table class="table table-bordered table-striped table-sm" id="sequence-table">
                    <thead class="table-light">
                        <tr>
                            <th>Plot</th>
                            <th>Sequence Name</th>
                            <th>Sequence</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="sequence-tbody">
                        <!-- Rows will be dynamically added here -->
                    </tbody>
                </table>
            </div>
        </form>

        <div id="plot"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
