<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BindLine – Help</title>

    <script src="{{ url_for('static', filename='help.js') }}"></script>
</head>

<body class="container py-4">

    {% include 'header.html' %}

    <!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-dark">
          <div class="modal-body p-0 text-center">
            <img id="modalImage" src="" style="width: 100%; height: auto;">
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-primary mb-4">
        <i class="fas fa-circle-question"></i> Help
    </h2>

    <!-- INTRODUCTION -->
    <div class="help-section">
        <h4><i class="help-icon fas fa-dna"></i> Introduction</h4>

        <div class="row align-items-center">
            <div class="col-md-8">
                <p>
                    BindLine is a tool for exploring protein–DNA interactions based on Protein Binding Microarrays (PBM) results. 
                    PBM experiments provide quantitative binding scores for all possible DNA k-mers (sequences in lengths "k"), allowing visualization
                    of binding strength along full DNA sequences rather than relying only on motifs. 
                    BindLine helps identify binding sites directly from the data, even when no single consensus motif exists.
                    TODO TODO TODO Something about interactivity TODO TODO TODO
                </p>
            </div>

            <!-- Image placeholder -->
            <div class="col-md-4 img-col">
                <img src="{{ url_for('static', filename='img/help_intro.png') }}" alt="Introduction">
            </div>
        </div>
    </div>

    <!-- SCORING -->
    <div class="help-section">
        <div class="row">
            <div class="col">
                <h4><i class="help-icon fas fa-chart-line"></i> Scoring</h4>
            </div>
            <div class="col-auto position-relative">
                <a href="{{ url_for('index') }}?sample_id=1" class="btn btn-warning btn-sm">
                    <i class="fas fa-flask me-1"></i>
                    Load Sample</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p>
                    BindLine works with three PBM score types:
                    <ul>
                        <li><strong>I-Score</strong> – median intensity of the k-mer in the univeral microarray - the "raw" measurement</li>
                        <li><strong>Z-Score</strong> – statistical significance of binding, in which 0 is the median intensity across k-mers</li>
                        <li><strong>E-Score</strong> – normalized enrichment of each k-mer, in the range -0.5 to 0.5. This measurement relies on ranking of the k-mer scores, and is more robust</li>
                    </ul>
                    Some of the public results, and possibly yours, has only part of the score types.
                    Types that are excluded from the uploaded results are unsupported.
                    You can choose the desired type before analysis.
                    You may use existing public results or use your own.
                    As a logged-on user you may upload files for a continuous use.<br>
                    You may explore the binding across one or more sequences. You may use public fasta files, containing known promoters and enhancers, or upload your own.
                    The “Load Sequences” button allows reviewing or preparing sequences before plotting.
                    You may avoid using files and use the sequences table directly.
                    All sequences in a single analysis file should align.
                    One of them (the first by default) is considered as reference ("ref") and the others are considered as its mutations.
                    This way, you can view the effect of insertions, deletions and base substitutions.<br>
                    The "BindLine" plot shows the chosen scores across the aligned sequences.
                    The "ref" sequence is the one shown in the x-axis, and the others are aligned to it.
                    Each point in the "BindLine" plot represents the score for the k-mer starting in this nucleotide.<br>
                    Stacked and Tabbed visualization modes are options for presentations of the plots.
                </p>
            </div>

            <div class="col-md-4 img-col">
                <img src="{{ url_for('static', filename='img/help_scoring.png') }}" alt="Scoring">
            </div>
        </div>
    </div>

    <!-- THRESHOLD SETTINGS -->
    <div class="help-section">
        <div class="row">
            <div class="col">
                <h4><i class="help-icon fas fa-sliders-h"></i> Threshold Settings</h4>
            </div>
            <div class="col-auto position-relative">
                <a href="{{ url_for('index') }}?sample_id=2" class="btn btn-warning btn-sm">
                    <i class="fas fa-flask me-1"></i>
                    Load Sample</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p>
                    BindLine offers optional thresholds for each score type. 
                    You may enable and adjust them with sliders or numeric input fields. 
                    Ranks thresholds, which highlight only the top-scoring k-mers, are also available.
                    When using a threshold, the "Binding Sites" plot appears.
                    Each sequence that is above the threshold is called here a binding site.
                    The "Binding Sites" plot shows which proteins compete on the same binding sites and which may interact as their binding sites are nearby.
                    Deletions are shown in this plot as black rectangles, and insertions as black triangles.
                </p>
            </div>

            <div class="col-md-4 img-col">
                <img src="{{ url_for('static', filename='img/help_thresholds.png') }}" alt="Thresholds">
            </div>
        </div>
    </div>

    <!-- SEARCH ACROSS PROTEINS -->
    <div class="help-section">
        <div class="row">
            <div class="col">
                <h4><i class="help-icon fas fa-search"></i> Search for binding sites across all proteins</h4>
            </div>
            <div class="col-auto position-relative">
                <a href="{{ url_for('index') }}?sample_id=2" class="btn btn-warning btn-sm">
                    <i class="fas fa-flask me-1"></i>
                    Load Sample</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p>
                    BindLine allows searching for binding sites across all the results - public and yours - instead of using certain results.
                    For this, you must choose a threshold to view only proteins that their score overcomes it for at least one k-mer in the sequences.
                    We recommend not to use a low threshold, as the results will be noisy.
                </p>
            </div>

            <div class="col-md-4 img-col">
                <img src="{{ url_for('static', filename='img/help_across_proteins.png') }}" alt="Across Proteins">
            </div>
        </div>
    </div>

    <!-- SEARCH FOR MUTATIONS -->
    <div class="help-section">
        <div class="row">
            <div class="col">
                <h4><i class="help-icon fas fa-random"></i> Search for significant point mutations</h4>
            </div>
            <div class="col-auto position-relative">
                <a href="{{ url_for('index') }}?sample_id=3" class="btn btn-warning btn-sm">
                    <i class="fas fa-flask me-1"></i>
                    Load Sample</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p>
                    BindLine allows searching for binding sites across all sequences derived from one sequence by single point mutations - 1-base substitutions, insertions and deletions.
                    For this, you must choose a threshold to view only sequences that their score overcomes it for at least one k-mer in the sequences.
                    Mutations which cause the same behavior are shown only once (for example: if AAAA is a binding site and the uploaded sequence is AAAC, substitution C->A and insertion of A before the C are considered the same and only one of them is shown).
                    When using this option, the "All Mutants" plot appears.
                    "All Mutants" plot shows the effect of each substitution on the score, both positively and negatively.
                    This type of plot is ussually used to show Massively Parallel Reporter Assay (MPRA) reaults, and can be compared to them to find the transcription factor causing the differences in gene expression.
                </p>
            </div>

            <div class="col-md-4 img-col">
                <img src="{{ url_for('static', filename='img/help_mutations.png') }}" alt="Mutants">
            </div>
        </div>
    </div>

    <!-- SHOW DIFF -->
    <div class="help-section">
        <div class="row">
            <div class="col">
                <h4><i class="help-icon fas fa-eye"></i> Show diff from reference sequence only</h4>
            </div>
            <div class="col-auto position-relative">
                <a href="{{ url_for('index') }}?sample_id=3" class="btn btn-warning btn-sm">
                    <i class="fas fa-flask me-1"></i>
                    Load Sample</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p>
                    BindLine allows searching only the major differences between sequences - only the ones which create or destroy a binding site, as defined by the threshold selected. 
                    When using this option, only sequences that are different from the "ref" sequences are shown, as well as the "ref" sequence itself.
                    De-Novo binding sites are shown in color, and destroyed binding sites are shown in gray. 
                </p>
            </div>

            <div class="col-md-4 img-col">
                <img src="{{ url_for('static', filename='img/help_diff.png') }}" alt="Diff from Reference">
            </div>
        </div>
    </div>

    <div class="help-section">
        <h4><i class="help-icon fas fa-database"></i>Data and personal dashboard</h4>

        <div class="row">
            <div class="col-md-8">
                <p>
                    BindLine allows downloading the public score and FASTA files through the <a href="/data">Data</a> page.
                    Bindline stores private files you upload so you can reuse them in future analyses.
                    Uploaded files are available for download or deletion at any time through your
                    {% if (current_user.is_authenticated) %}
                        <a href="/dashboard">personal dashboard</a>
                    {% else %}
                        personal dashboard
                    {% endif %}
                .
                </p>
            </div>

            <div class="col-md-4 img-col">
                <img src="{{ url_for('static', filename='img/help_data.png') }}" alt="Data">
            </div>
        </div>

    </div>

    {% include 'footer.html' %}
</body>
</html>
