<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BindLine</title>
    <script src="https://cdn.plot.ly/plotly-3.3.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
<body class="container-fluid p-3">

    {% include 'header.html' %}

    <div id="cookieNotice" class="cookie-notice shadow-lg">
      <div class="cookie-title">🍪 Cookie notice</div>
      <div class="cookie-text">
        This website uses <strong>essential session cookies only</strong>.
        No tracking, no analytics.
      </div>
      <button id="cookieOk" class="btn btn-sm btn-primary mt-2">
        Got it
      </button>
    </div>

    <div class="position-relative container-fluid p-3">
        <!-- Toggle Button for Collapsible Form -->
        <button class="btn btn-outline-primary btn-sm p-0 position-absolute start-0 me-2"
                type="button" data-bs-toggle="collapse" data-bs-target="#upload-form-container"
                aria-expanded="false" id="toggle-btn">
            <i class="fas fa-chevron-down"></i>
        </button>

        <!-- Collapsible Form Container -->
        <div id="upload-form-container" class="collapse show">
            <form id="upload-form">
                <h6 class="text-center fw-bold mb-3">
                    Explore protein–DNA interactions using PBM data. To start, choose protein and DNA, and plot!
                </h6>
                <div class="row">
                  <div class="col-md-6">
                    <div class="d-flex align-items-center flex-wrap">
                        <h6 class="fw-bold me-5 mt-2">Protein</h6>
                        <ul class="nav nav-pills nav-sm" id="score-tabs-nav" role="tablist">
                          <li class="nav-item">
                            <button type="button" id="score-existing-nav" class="nav-link active" data-bs-toggle="pill" data-bs-target="#score-existing">Existing</button>
                          </li>
                          <li class="nav-item">
                            <button type="button" id="score-upload-nav" class="nav-link" data-bs-toggle="pill" data-bs-target="#score-upload">Upload</button>
                          </li>
                          <li class="nav-item">
                            <div data-bs-toggle="tooltip" data-bs-placement="top" title="Threshold is required">
                              <button type="button" id="score-search-nav" class="nav-link" data-bs-toggle="pill" data-bs-target="#score-search">Search for Binding Sites across All Proteins</button>
                            </div>
                          </li>
                        </ul>
                    </div>
                    <div id="score-tabs" class="tab-content">
                      <!-- Existing -->
                      <div class="tab-pane fade show active" id="score-existing">
                        <select id="existing_score" multiple="multiple" style="width: 100%;" class="form-select form-select-sm" size="5"></select>
                      </div>
                      <!-- Upload -->
                      <div class="tab-pane fade" id="score-upload">
                          <div class="d-flex align-items-center gap-2 w-100">
                            <input class="form-control form-control-sm" type="file" id="score" name="score" multiple>
                            <a href="{{ url_for('download_sample_score') }}" class="btn btn-outline-secondary btn-sm flex-shrink-0" download>
                                <i class="fas fa-download"></i> Download Template
                            </a>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="score-search"></div>
                    </div>
                  </div>
                  <div class="col-md-6 flex-column">
                    <div class="d-flex align-items-center flex-wrap">
                      <h6 class="fw-bold me-5 mt-2">DNA</h6>
                      <ul class="nav nav-pills nav-sm" id="fasta-tabs-nav" role="tablist">
                        <li class="nav-item">
                          <button type="button" id="fasta-existing-nav" class="nav-link active" data-bs-toggle="pill" data-bs-target="#fasta-existing">Existing</button>
                        </li>
                        <li class="nav-item">
                          <button type="button" id="fasta-upload-nav" class="nav-link" data-bs-toggle="pill" data-bs-target="#fasta-upload">Upload</button>
                        </li>
                      </ul>
                    </div>
                    <div class="d-flex align-items-start gap-2">
                      <div id="fasta-tabs" class="tab-content flex-grow-1">
                        <!-- Existing -->
                        <div class="tab-pane fade show active" id="fasta-existing">
                          <select class="form-select form-select-sm" id="existing_fasta">
                              <option value="">-- Select Existing --</option>
                          </select>
                        </div>
                        <!-- Upload -->
                        <div class="tab-pane fade" id="fasta-upload">
                            <div class="d-flex align-items-center gap-2 w-100">
                                <input class="form-control form-control-sm" type="file" id="fasta" name="fasta">
                                <a href="{{ url_for('download_sample_fasta') }}" class="btn btn-outline-secondary btn-sm flex-shrink-0" download>
                                    <i class="fas fa-download"></i> Download Template
                                </a>
                            </div>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-sm" type="button" id="load-sequences">Load Sequences</button>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-3">
                    <div class="d-flex align-items-center flex-wrap">
                        <h6 class="fw-bold mt-3">Score Type:</h6>
                        <div class="btn-group w-10 mt-2">
                            <input type="radio" class="btn-check" name="file_type" id="escore" value="escore" checked>
                            <label class="btn btn-outline-primary" for="escore"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Normalized enrichment of each k-mer (-0.5 to 0.5)">
                                E-Score
                            </label>
                            <input type="radio" class="btn-check" name="file_type" id="zscore" value="zscore">
                            <label class="btn btn-outline-primary" for="zscore"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Statistical significance of binding (0 = median across k-mers)">
                                Z-Score
                            </label>
                            <input type="radio" class="btn-check" name="file_type" id="iscore" value="iscore">
                            <label class="btn btn-outline-primary" for="iscore"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Median intensity of each k-mer in the univeral microarray">
                                I-Score
                            </label>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div id="thresholds" class="d-flex mb-3">
                        <!-- E-Score Threshold -->
                        <div id="escore_threshold" class="align-items-center mb-2"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Click 'E-Score Threshold' button to enable/disable">
                            <input type="checkbox" id="enable_escore_threshold" class="form-check-input me-2" hidden>
                            <label for="enable_escore_threshold" class="btn btn-light me-2">E-Score Threshold:</label>
                            <input type="range" min="0.3" max="0.5" step="0.01" value="0.45" id="escore_threshold_slider" class="form-range flex-grow-1 me-2" disabled>
                            <input type="number" min="-0.5" max="0.5" step="0.01" value="0.45" id="escore_threshold_input" class="form-control form-control-sm" style="width: 70px;" disabled>
                        </div>

                        <!-- Z-Score Threshold -->
                        <div id="zscore_threshold" class="align-items-center mb-2"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Click 'Z-Score Threshold' button to enable/disable">
                            <input type="checkbox" id="enable_zscore_threshold" class="form-check-input me-2" hidden>
                            <label for="enable_zscore_threshold" class="btn btn-light me-2">Z-Score Threshold:</label>
                            <input type="range" min="15" max="25" step="0.5" value="18" id="zscore_threshold_slider" class="form-range flex-grow-1 me-2" disabled>
                            <input type="number" min="0" max="50" step="0.5" value="18" id="zscore_threshold_input" class="form-control form-control-sm" style="width: 70px;" disabled>
                        </div>

                        <!-- I-Score Threshold -->
                        <div id="iscore_threshold" class="align-items-center mb-2"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Click 'I-Score Threshold' button to enable/disable">
                            <input type="checkbox" id="enable_iscore_threshold" class="form-check-input me-2" hidden>
                            <label for="enable_iscore_threshold" class="btn btn-light me-2">I-Score Threshold:</label>
                            <input type="range" min="0" max="65536" step="1" value="60000" id="iscore_threshold_slider" class="form-range flex-grow-1 me-2" disabled>
                            <input type="number" min="0" max="65536" step="1" value="60000" id="iscore_threshold_input" class="form-control form-control-sm" style="width: 70px;" disabled>
                        </div>

                        <!-- & sign -->
                        <div class="align-items-center ms-3 me-3 mt-1">
                            <span class="fw-bold" style="font-size: x-large;"> &amp; </span>
                        </div>

                        <!-- Ranks Threshold -->
                        <div id="ranks_threshold" class="d-flex align-items-center mb-2"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Click 'Ranks Threshold' button to enable/disable">
                            <input type="checkbox" id="enable_ranks_threshold" class="form-check-input me-2" hidden>
                            <label for="enable_ranks_threshold" class="btn btn-light me-2">Ranks Threshold:</label>
                            <input type="range" min="95" max="100" step="0.1" value="99" id="ranks_threshold_slider" class="form-range flex-grow-1 me-2" disabled>
                            <input type="number" min="0" max="100" step="0.1" value="99" id="ranks_threshold_input" class="form-control form-control-sm" style="width: 70px;" disabled>
                        </div>
                    </div>
                  </div>
                </div>
            <div class="d-flex justify-content-between align-content-center mb-2">
                <div class="form-check form-check-inline"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Threshold is required">
                    <input class="form-check input" type="checkbox" id="search-significant-mutations" name="search-significant-mutations">
                    <label class="form-check label mt-2" for="search-significant-mutations">Search for Significant Point Mutations</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check input" type="checkbox" id="show-diff-only" name="show-diff-only">
                    <label class="form-check label mt-2" for="show-diff-only">Show Diff from Reference Sequence Only</label>
                </div>

                <button class="btn btn-success btn-sm ms-2 col-xl" type="button" id="upload-and-plot">Plot</button>
            </div>

            <div class="form-group mt-2">
                <h6 class="fw-bold">Your DNA sequences:</h6>
                <table class="table table-bordered table-striped table-sm mb-1" id="sequence-table">
                    <thead class="table-light">
                        <tr>
                            <th>Plot</th>
                            <th>Sequence Name</th>
                            <th class="sequence-col">Sequence</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="sequence-tbody">
                        <!-- Rows will be dynamically added here -->
                    </tbody>
                </table>
                <button class="btn btn-secondary btn-xs" type="button" id="add-sequence-row">+</button>
            </div>
        </form>
        </div>

        <div id="global-loading" style="display: none; text-align: center; font-size: 16px; font-weight: bold;">
            Loading Data<span id="loading-dots">...</span>
        </div>

        <div class="d-flex flex-wrap">
            <h6 class="fw-bold mt-2">Results:</h6>

            <!-- Radio buttons for selecting view -->
            <div class="btn-group w-10">
                <input type="radio" class="btn-check" name="view-option" id="view-stacked" value="stacked" checked>
                <label class="btn btn-outline-primary" for="view-stacked">Stacked View</label>
                <input type="radio" class="btn-check" name="view-option" id="view-tabbed" value="tabbed">
                <label class="btn btn-outline-primary" for="view-tabbed">Tabbed View</label>
            </div>
        </div>

        <!-- Shared Plot Containers (Rendered Once) -->
        <div id="plots-container">

            <div id="bindline-container" class="plot-container">
                <a tabindex="0"
                   class="info-button d-none"
                   role="button"
                   data-bs-html="true"
                   title="BindLine Plot"
                   data-bs-content="The BindLine plot visualizes the binding affinity of protein-DNA interactions based on the provided PBM data.
                   For more information, visit the
                   <a href='{{ url_for('help_page') }}#plots' target='_blank'>Help Page</a>.">
                    <i class="fas fa-info-circle"></i>
                </a>

                <div id="bindline-plot"></div>
                <div id="bindline-plot-loading" class="loading-spinner"></div>
            </div>

            <div id="binding-sites-container" class="plot-container">
                <a tabindex="0"
                   class="info-button d-none"
                   role="button"
                   data-bs-html="true"
                   title="Binding Sites Plot"
                   data-bs-content="The Binding Sites plot displays the locations of significant binding sites on the DNA sequences based on the selected thresholds.
                   For more information, visit the
                   <a href='{{ url_for('help_page') }}#plots' target='_blank'>Help Page</a>.">
                    <i class="fas fa-info-circle"></i>
                </a>

                <div id="binding-sites-plot"></div>
                <div id="binding-sites-plot-loading" class="loading-spinner"></div>
            </div>

            <div id="all-mutants-container" class="plot-container">
                <a tabindex="0"
                   class="info-button d-none"
                   role="button"
                   data-bs-html="true"
                   title="All Mutants Plot"
                   data-bs-content="The All Mutants plot illustrates the effects of all possible point mutations on the binding affinity compared to the reference sequence.
                   For more information, visit the
                   <a href='{{ url_for('help_page') }}#plots' target='_blank'>Help Page</a>.">
                    <i class="fas fa-info-circle"></i>
                </a>

                <div id="all-mutants-plot"></div>
                <div id="all-mutants-plot-loading" class="loading-spinner"></div>
            </div>

        </div>

        <!-- Stacked View -->
        <div id="plot-stacked">
            <div id="stacked-container"></div>
        </div>

        <!-- Tabs View -->
        <div id="plot-tabs" style="display: none;">
            <ul class="nav nav-tabs" id="plot-tabs-nav">
                <li class="nav-item" id="bindline-tab-nav" style="display: none">
                    <a class="nav-link active" data-bs-toggle="tab" href="#bindline-tab">BindLine</a>
                </li>
                <li class="nav-item" id="binding-sites-tab-nav" style="display: none">
                    <a class="nav-link" data-bs-toggle="tab" href="#binding-sites-tab">Binding Sites</a>
                </li>
                <li class="nav-item" id="all-mutants-tab-nav" style="display: none">
                    <a class="nav-link" data-bs-toggle="tab" href="#all-mutants-tab">All Mutants</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="bindline-tab"></div>
                <div class="tab-pane fade" id="binding-sites-tab"></div>
                <div class="tab-pane fade" id="all-mutants-tab"></div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='samples.js') }}"></script>
</body>
</html>
